<%- include('../includes/head.ejs') %>
    
</head>

<body>
    <%- include('../includes/navigation.ejs') %>

    <main>
      <div class="card__content">
        <h2 class="product__price">$19.99</h2>
        <p class="product__description">A very index book about so many even more indexing things!</p>
      </div>
                  
    </main>
<%- include('../includes/end.ejs') %>